.git
.github
.venv
__pycache__
*.pyc
.env
.dvc
.dvcignore
dvc.lock
research/
logs/
uploads/
model/

# Ignore massive datasets but KEEP the trained model
artifacts/data_ingestion/
artifacts/prepare_base_model/
